@font-face{
  font-family:'VT323';
  src: url('fonts/VT323.ttf') format('truetype');
}


@font-face{
  font-family:'Orbitron';
  src: url('fonts/Orbitron.ttf') format('truetype');
}



body {
 margin:0;
 font-family: Orbitron;
}


button{
 font-family: Orbitron;
}

